@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div class="row p-t-lg">
    <div class="col-xs-24 col-sm-20 col-sm-push-2 col-md-12 col-md-push-6">
        <ul class="list-group">
            <li class="list-group-item">Email: wil@wiljones.co</li>
            <li class="list-group-item">LinkedIn: <a href="https://uk.linkedin.com/in/wiljones" target="_blank">https://uk.linkedin.com/in/wiljones</a></li>

        </ul>

    </div>
</div>